/.idea/
package-lock.json
yarn.lock

node_modules/*
!node_modules/@ckeditor/
node_modules/@ckeditor/*
!node_modules/@ckeditor/ckeditor5-inspector/
node_modules/@ckeditor/ckeditor5-inspector/*
!node_modules/@ckeditor/ckeditor5-inspector/build/
!node_modules/@ckeditor/ckeditor5-utils/
node_modules/@ckeditor/ckeditor5-utils/*
!node_modules/@ckeditor/ckeditor5-utils/src/
node_modules/@ckeditor/ckeditor5-utils/src/*
!node_modules/@ckeditor/ckeditor5-utils/src/dom/
node_modules/@ckeditor/ckeditor5-utils/src/dom/*
!node_modules/@ckeditor/ckeditor5-utils/src/dom/scroll.js
