# All "dot directories".
.*/**
!.github/**

# Files associated with CKEditor 5 repository.
**/node_modules
build/
!packages/ckeditor5-build-*/build
docs/api/output.json
yarn.lock
package-lock.json
coverage/

# Files associated with external repositories.
external/
mrgit.json

# Files associated with specific development environments.
.DS_Store
.idea
.vscode
/.idea/

node_modules/*
!node_modules/@ckeditor/
node_modules/@ckeditor/*
!node_modules/@ckeditor/ckeditor5-inspector/
node_modules/@ckeditor/ckeditor5-inspector/*
!node_modules/@ckeditor/ckeditor5-inspector/build/
!node_modules/@ckeditor/ckeditor5-utils/
node_modules/@ckeditor/ckeditor5-utils/*
!node_modules/@ckeditor/ckeditor5-utils/src/
node_modules/@ckeditor/ckeditor5-utils/src/*
!node_modules/@ckeditor/ckeditor5-utils/src/dom/
node_modules/@ckeditor/ckeditor5-utils/src/dom/*
!node_modules/@ckeditor/ckeditor5-utils/src/dom/scroll.js
/packages/ckeditor5-build-balloon/node_modules/
/packages/ckeditor5-build-balloon-block/node_modules/
/packages/ckeditor5-build-inline/node_modules/
/packages/ckeditor5-build-classic/node_modules/
/packages/ckeditor5-build-decoupled-document/node_modules/

# Ignore yalc
.yalc
yalc.lock


# Ignore compiled TypeScript files.
packages/ckeditor5-utils/src/**/*.js
packages/*/src/**/*.d.ts

